<div class="tagline">
  <h1>Welcome to Messenger!</h1>
  <h2>A messenger clone built in Elixir + Phoenix</h2>
</div>

<div class="action-boxes">

  <%= render MessengyrWeb.PageView, "login.html", assigns %>

  <%= render MessengyrWeb.PageView, "signup.html", assigns %>

</div>
